.add-button {
  background: rgb(var(--color-primary-800));
  padding: 1rem 1.25rem 1.55rem;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
}

.nav-margin {
  margin: 0rem 1rem;
}

.suggestions {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
  }
  
  .suggestions li {
    padding: 8px;
    cursor: pointer;
    color: black;
  }
  
  .suggestions li:hover {
    background-color: #f0f0f0;
  }