[data-theme='customTheme'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.25rem;
	--radius-container: 0.25rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(91.81% 0 195.55deg);
	--color-primary-100: oklch(82.22% 0 228.5deg);
	--color-primary-200: oklch(72.51% 0 196.76deg);
	--color-primary-300: oklch(62.21% 0.01 208.63deg);
	--color-primary-400: oklch(51.74% 0.01 196.76deg);
	--color-primary-500: oklch(40.51% 0.01 204.74deg);
	--color-primary-600: oklch(37.59% 0.01 205.74deg);
	--color-primary-700: oklch(34.88% 0.01 196.61deg);
	--color-primary-800: oklch(31.97% 0.01 208.68deg);
	--color-primary-900: oklch(29.13% 0.01 196.63deg);
	--color-primary-950: oklch(25.95% 0.01 196.65deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-light);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(92.14% 0.01 210.79deg);
	--color-secondary-100: oklch(83.08% 0.01 203.33deg);
	--color-secondary-200: oklch(73.79% 0.02 200.97deg);
	--color-secondary-300: oklch(64.11% 0.02 207deg);
	--color-secondary-400: oklch(54.23% 0.03 204.66deg);
	--color-secondary-500: oklch(43.98% 0.04 203.1deg);
	--color-secondary-600: oklch(40.9% 0.04 203.82deg);
	--color-secondary-700: oklch(37.72% 0.03 201.76deg);
	--color-secondary-800: oklch(34.57% 0.03 202.79deg);
	--color-secondary-900: oklch(31.24% 0.03 199.86deg);
	--color-secondary-950: oklch(27.87% 0.02 200.57deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(91.63% 0.02 176.93deg);
	--color-tertiary-100: oklch(81.83% 0.03 176.92deg);
	--color-tertiary-200: oklch(72.16% 0.05 174.67deg);
	--color-tertiary-300: oklch(62.06% 0.07 172.51deg);
	--color-tertiary-400: oklch(52.29% 0.08 169.55deg);
	--color-tertiary-500: oklch(42.45% 0.09 164.93deg);
	--color-tertiary-600: oklch(39.57% 0.08 164.62deg);
	--color-tertiary-700: oklch(36.32% 0.07 165.08deg);
	--color-tertiary-800: oklch(33.36% 0.07 165.83deg);
	--color-tertiary-900: oklch(29.95% 0.06 166.67deg);
	--color-tertiary-950: oklch(26.8% 0.05 166.36deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(96.12% 0.02 173.85deg);
	--color-success-100: oklch(91.8% 0.04 174.67deg);
	--color-success-200: oklch(87.42% 0.06 173.62deg);
	--color-success-300: oklch(83.34% 0.09 172.9deg);
	--color-success-400: oklch(79.23% 0.1 171.45deg);
	--color-success-500: oklch(75.54% 0.12 169.99deg);
	--color-success-600: oklch(69.86% 0.11 169.66deg);
	--color-success-700: oklch(63.8% 0.1 169.78deg);
	--color-success-800: oklch(57.86% 0.09 170.29deg);
	--color-success-900: oklch(51.49% 0.08 170.56deg);
	--color-success-950: oklch(45.2% 0.07 170.05deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(95.2% 0.01 11.15deg);
	--color-warning-100: oklch(89.83% 0.03 14.69deg);
	--color-warning-200: oklch(84.46% 0.04 14.11deg);
	--color-warning-300: oklch(78.97% 0.05 15.47deg);
	--color-warning-400: oklch(73.61% 0.07 15.49deg);
	--color-warning-500: oklch(68.27% 0.09 16.8deg);
	--color-warning-600: oklch(63.1% 0.08 17.42deg);
	--color-warning-700: oklch(57.79% 0.07 16.06deg);
	--color-warning-800: oklch(52.4% 0.06 16.74deg);
	--color-warning-900: oklch(46.82% 0.06 14.83deg);
	--color-warning-950: oklch(41.11% 0.05 15.51deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(90.92% 0.03 2.68deg);
	--color-error-100: oklch(80.66% 0.07 4.75deg);
	--color-error-200: oklch(70.86% 0.11 7.4deg);
	--color-error-300: oklch(61.77% 0.15 9.85deg);
	--color-error-400: oklch(54.09% 0.18 14.86deg);
	--color-error-500: oklch(48.75% 0.19 22.13deg);
	--color-error-600: oklch(45.13% 0.18 21.88deg);
	--color-error-700: oklch(41.21% 0.16 21.38deg);
	--color-error-800: oklch(37.44% 0.15 20.97deg);
	--color-error-900: oklch(33.3% 0.13 20.08deg);
	--color-error-950: oklch(29.32% 0.12 19.24deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(91.2% 0 195.57deg);
	--color-surface-100: oklch(80.86% 0 196.64deg);
	--color-surface-200: oklch(70.04% 0 219.31deg);
	--color-surface-300: oklch(58.89% 0.01 196.81deg);
	--color-surface-400: oklch(47.07% 0.01 210.93deg);
	--color-surface-500: oklch(34.61% 0.01 207.01deg);
	--color-surface-600: oklch(32.36% 0.01 208.68deg);
	--color-surface-700: oklch(29.98% 0.01 208.69deg);
	--color-surface-800: oklch(27.6% 0.01 196.67deg);
	--color-surface-900: oklch(25.11% 0.01 196.63deg);
	--color-surface-950: oklch(22.66% 0.01 196.67deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}