name: assetatlas-dev

services:
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-dev-data:/data/db
    networks:
      - dev-network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/tcp --quiet
      interval: 10s
      timeout: 5s
      retries: 3

  auto-migration:
    image: node:22-alpine
    working_dir: /app
    volumes:
      - ..:/app
      - /app/node_modules
    depends_on:
      mongo:
        condition: service_healthy
    command: ["npx", "migrate-mongo", "up", "-f", "migrate-mongo-config.cjs"]
    environment:
      MONGO_URI: mongodb://mongo:27017/assetatlas_dev
    networks:
      - dev-network

  app-mongoexpress:
    image: mongo-express
    container_name: assetatlas-dev-mongodb-express
    environment:
      ME_CONFIG_OPTIONS_EDITORTHEME: "darcula"
      ME_CONFIG_BASICAUTH_USERNAME: "user"
      ME_CONFIG_BASICAUTH_PASSWORD: "password"
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_PORT: "27017"
    ports:
      - "8081:8081"
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - dev-network

  tusd:
    image: tusproject/tusd:latest
    user: "0:0"
    command:
      - "-upload-dir=/data"
      - "-port=1080"
      - "-verbose"
      - "-behind-proxy"
    ports:
      - "1080:1080"
    volumes:
      - image-uploads:/data
    networks:
      - dev-network

networks:
  dev-network:
    driver: bridge

volumes:
  mongo-dev-data:
  node_modules:
    name: assetatlas-dev-node-modules
  image-uploads:
    name: assetatlas-dev-image-uploads
